<div ng-include src="'views/dashboard/navbar.html'"></div>

<!--
TODO: Add approval actions, and filters to merchants
-->

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group">
        <div ng-include src="'views/dashboard/sidebar.html'"></div>
      </div>
    </div>
    <div class="col-md-10">
      <h4 class="text-center">商家管理
        <form class="navbar-form navbar-right">
          <p>
            <a class="btn btn-primary" data-toggle="modal" data-target="#add">
              添加商家</a>
          </p>
        </form>
      </h4>
      <table class="table table-striped text-center">
        <tr>
          <th>ID</th>
          <th>商家名</th>
          <th>管理员</th>
          <th>地址</th>
          <th>描述/介绍</th>
          <th>营业时间</th>
          <th>图片</th>
          <th>审核通过</th>
          <th>操作</th>
        </tr>
        <tr ng-repeat="merchant in merchants track by $index">
          <td>{{merchant.store.id}}</td>
          <td>{{merchant.store.name}}</td>
          <td>{{merchant.user.username}}</td>
          <td>{{merchant.store.address}}</td>
          <td>{{merchant.store.intro}}</td>
          <th>{{merchant.store.start_time}}-{{merchant.store.end_time}}</th>
          <td><span ng-repeat="image in merchant.images"
                    class="imgs{{merchant.sis[$index]}}"><a
            ng-href="{{image.url}}" target="_blank"><img
            ng-src="{{image.url}}" alt="{{image.hash}}" height="50px"/></a>&nbsp;</span>
          </td>
          <td ng-switch on="merchant.store.approved">
            <span ng-switch-when="APPROVED">审核通过</span>
            <span ng-switch-when="REJECTED">审核未通过</span>
            <span ng-switch-when="UNCHECKED">尚未审核</span>
            <span ng-switch-default>尚未审核1</span>
          </td>
          <td>
            <button class="btn btn-warning"
                    ng-click="approve(merchant, 'APPROVED');$event.stopPropagation()">通过
            </button>
            <button class="btn btn-success"
                    ng-click="approve(merchant, 'REJECTED');$event.stopPropagation()">拒绝
            </button>
            <button class="btn btn-success"
                    ng-click="approve(merchant, 'UNCHECKED');$event.stopPropagation()">重置
            </button>
            <button class="btn btn-info" data-toggle="modal"
                    data-target="#modify"
                    ng-click="openModify(merchant)">修改
            </button>
            <button class="btn btn-danger"
                    ng-click="remove(merchant);$event.stopPropagation()">删除
            </button>
          </td>
        </tr>
      </table>
      <div ng-include src="'views/dashboard/pagination.html'"></div>

    </div>
  </div>
</div>

<div ng-include src="'views/dashboard/merchant/new.html'"></div>
<div ng-include src="'views/dashboard/merchant/edit.html'"></div>

</div>
