<br/>
<div class="col-md-12 col-xs-12">

  <form class="form-horizontal merchant" method="post">
    <div class="form-group">
      <label for="id">Mercahnt Id</label>
      <input type="text" name="id" ng-model="merchant.id" class="form-control" id="id" placeholder="Merchant Id" value="">
    </div>
    <div class="form-group">
      <label for="key">Mercahnt Key</label>
      <input type="text" name="key" ng-model="merchant.key" class="form-control" id="key" placeholder="Merchant key" value="">
    </div>
    <hr/>
    <button type="submit" class="btn btn-default btn-block btn-success" ng-click="set('merchant')">Submit</button>
    <hr/>
  </form>
</div>
